* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
@media (min-width: 75rem) {
  header {
    position: relative;
    width: 100%;
  }
  .loading-bar {
    position: relative;
    background-color: #312f2f;
  }

  .solid {
    width: 0%;
    height: 2px;
    background-color: #f1f1f1;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0px;
    transition: width 0.5s;
  }

  /* 메뉴 */
  .menu {
    z-index: 999;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    color: white;
    background-color: #312f2f;
  }

  .lnb {
    text-align: center;
  }

  .menuplus {
    justify-content: center;
    width: 60%;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }

  .menuplus.on {
    z-index: 999;
    width: 100%;
    background-color: rgba(100, 96, 96, 0.5);
    color: white;
    position: fixed;
  }

  .menuplus li {
    padding: 10px;
    text-align: center;
    width: 100%;
    justify-content: space-around;
  }

  .menuplus .lnb {
    padding: 10px;
  }

  .menuup {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .menuup h3 {
    padding: 10px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes move {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .menuup2 {
    position: absolute;
    top: -100px;
    left: 80%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .menuup2 p {
    padding: 20px;
  }

  .lnb {
    display: none;
  }

  .gnb .active {
    display: block;
    transform: translateY(0);
  }

  .input {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    height: 30px;
    background-color: #003366;
  }

  #content {
    width: 100%;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  .slide > a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .panel {
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
  }

  .panel li {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .panel li:nth-child(1) {
    position: relative;
    background-image: url(../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  }

  .panel li:nth-child(2) {
    position: relative;
    background-image: url(../img/hotel-room-1447201_1280.jpg);
  }

  .panel li:nth-child(3) {
    position: relative;
    background-image: url(../img/inner-space-1026452_1280.jpg);
  }
  .panel li:nth-child(4) {
    position: relative;
    background-image: url(../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  }
  .panel li h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .panel li h4 {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .slide > a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev {
    opacity: 0.8;
    left: 10px;
  }

  .next {
    opacity: 0.8;
    right: 120px;
  }
  #container2 {
    margin: 50px auto;
    width: 90%;
  }
  #container2 h1 {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
  }

  #container2 p {
    font-size: 20px;
    color: #9e9a9a;
    text-align: center;
    margin-bottom: 50px;
  }

  .gallery {
    margin-top: 50px;
    justify-content: center;
    display: flex;
  }
  .gallery ul {
    padding-left: 20px;
  }

  .gallery img {
    width: 400px;
    height: 320px;
  }
  .gallery li {
    margin-bottom: 20px;
  }
  .sale {
    background-image: url(../img/4.jpg);
    width: 400px; /* 조정 */
    height: 665px; /* 조정 */
    background-size: cover;
    background-position: center;
    display: block;
  }

  .sale > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100%;
  }

  .sale h2 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normabl;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
  }

  .more {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

    width: 80px;
    height: 30px;
    margin-top: 25px;
  }
  .more a {
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
  }

  #container3,
  #container4 {
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 90%;
    display: flex;
    padding: 25px 0; /* 위아래 간격 조절 */
  }

  #container3 ul,
  #container4 ul {
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
  }

  #container3 li,
  #container4 li {
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }

  #container3 h2,
  #container4 h2 {
    font-size: 30px;
  }

  #container3 li img,
  #container4 li img {
    width: 650px;
    height: 500px;
  }

  #container3 li:nth-child(2),
  .text {
    box-sizing: border-box;
    padding: 50px;
    border: 0.5px solid #b8b6b6;
    width: 650px;
    margin: 25px 0;
  }

  .more {
    color: white;
    padding: 5px;
    text-align: center;
    width: 100px;
    background-color: #003366;
    font-size: 18px;
    display: block;
    color: white;
    padding: 5px 10px;
    margin: 20px auto 0;
    width: fit-content;
    text-align: center;
    cursor: pointer;
  }

  #footer {
    height: 200px;
    background-color: #312f2f;
  }
  .dis {
    padding: 30px;
    display: flex;
  }
  #footer ul li {
    color: white;
    padding-left: 10px;
  }
  .dis2 {
    padding-left: 30px;
  }
  #footer {
    margin-top: 50px;
    height: 200px;
    background-color: #312f2f;
  }
  #footer ul {
    margin-left: 50px;
  }

  #container2,
  .gallery,
  #container3,
  #container4 {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s ease, transform 1s ease; /* 1초로 설정 */
  }

  #container2.on,
  .gallery.on,
  #container3.on,
  #container4.on {
    transition: opacity 0.5s ease, transform 1s ease;
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (min-width: 45rem) and (max-width: 75rem) {
  header {
    position: relative;
    width: 100%;
  }
  .loading-bar {
    position: relative;
    background-color: #312f2f;
  }

  .solid {
    width: 0%;
    height: 2px;
    background-color: #f1f1f1;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0px;
    transition: width 0.5s;
  }

  /* 메뉴 */
  .menu {
    z-index: 999;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    color: white;
    background-color: #312f2f;
  }

  .lnb {
    text-align: center;
  }

  .menuplus {
    justify-content: center;
    width: 60%;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }

  .menuplus.on {
    z-index: 999;
    width: 100%;
    background-color: rgba(100, 96, 96, 0.5);
    color: white;
    position: fixed;
  }

  .menuplus li {
    padding: 10px;
    text-align: center;
    width: 100%;
    justify-content: space-around;
  }

  .menuplus .lnb {
    padding: 10px;
  }

  .menuup {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .menuup h3 {
    padding: 10px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes move {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .menuup2 {
    position: absolute;
    top: -100px;
    left: 80%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .menuup2 p {
    padding: 20px;
  }

  .lnb {
    display: none;
  }

  .gnb .active {
    display: block;
    transform: translateY(0);
  }

  .input {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    height: 30px;
    background-color: #003366;
  }

  #content {
    width: 100%;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  .slide > a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .panel {
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
  }

  .panel li {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .panel li:nth-child(1) {
    position: relative;
    background-image: url(../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  }

  .panel li:nth-child(2) {
    position: relative;
    background-image: url(../img/hotel-room-1447201_1280.jpg);
  }

  .panel li:nth-child(3) {
    position: relative;
    background-image: url(../img/inner-space-1026452_1280.jpg);
  }
  .panel li:nth-child(4) {
    position: relative;
    background-image: url(../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  }
  .panel li h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .panel li h4 {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .slide > a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev {
    opacity: 0.8;
    left: 10px;
  }

  .next {
    opacity: 0.8;
    right: 120px;
  }
  #container2 {
    margin: 50px auto;
    width: 90%;
  }
  #container2 h1 {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
  }

  #container2 p {
    font-size: 18px;
    color: #9e9a9a;
    text-align: center;
    margin-bottom: 50px;
  }

  .gallery {
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    display: flex;
  }
  .gallery ul {
    padding-left: 20px;
  }

  .gallery img {
    width: 400px;
    height: 320px;
  }
  .gallery li {
    margin-bottom: 20px;
  }
  .sale {
    background-image: url(../img/4.jpg);
    width: 400px; /* 조정 */
    height: 665px; /* 조정 */
    background-size: cover;
    background-position: center;
    display: block;
  }

  .sale > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100%;
  }

  .sale h2 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normabl;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
  }

  .more {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

    width: 80px;
    height: 30px;
    margin-top: 25px;
  }
  .more a {
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
  }

  #container3,
  #container4 {
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 90%;
    display: flex;
    padding: 25px 0;
  }

  #container3 ul,
  #container4 ul {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
  }

  #container3 li,
  #container4 li {
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }

  #container3 h2,
  #container4 h2 {
    font-size: 30px;
  }

  #container3 li img,
  #container4 li img {
    width: 650px;
    height: 500px;
  }

  #container3 .text,
  #container4 .text {
    box-sizing: border-box;
    padding: 50px;
    border: 0.5px solid #b8b6b6;
    width: 650px;
    margin: 25px 0;
  }

  #container3 li:nth-child(2),
  #container4 li:nth-child(1) {
    order: 2;
  }

  #container3 li:nth-child(2),
  .text {
    box-sizing: border-box;
    padding: 50px;
    border: 0.5px solid #b8b6b6;
    width: 650px;
    margin: 25px 0;
  }

  #container2,
  .gallery,
  #container3,
  #container4 {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s ease, transform 1s ease; /* 1초로 설정 */
  }

  #container2.on,
  .gallery.on,
  #container3.on,
  #container4.on {
    transition: opacity 0.5s ease, transform 1s ease;
    opacity: 1;
    transform: translateY(0px);
  }

  .more {
    color: white;
    padding: 5px;
    text-align: center;
    width: 100px;
    background-color: #003366;
    font-size: 18px;
    display: block;
    color: white;
    padding: 5px 10px;
    margin: 20px auto 0;
    width: fit-content;
    text-align: center;
    cursor: pointer;
  }

  #footer {
    height: 200px;
    background-color: #312f2f;
  }
  .dis {
    padding: 30px;
    display: flex;
  }
  #footer ul li {
    color: white;
    padding-left: 10px;
  }
  .dis2 {
    padding-left: 30px;
  }
  #footer {
    margin-top: 50px;
    height: 200px;
    background-color: #312f2f;
  }
  #footer ul {
    margin-left: 50px;
  }
}

@media (max-width: 45rem) {
  header {
    position: relative;
    width: 100%;
  }
  .loading-bar {
    position: relative;
    background-color: #312f2f;
  }

  .solid {
    width: 0%;
    height: 2px;
    background-color: #f1f1f1;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0px;
    transition: width 0.5s;
  }

  /* 메뉴 */
  .menu {
    z-index: 999;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0px;
    color: white;
    background-color: #312f2f;
  }

  .lnb {
    text-align: center;
  }

  .menuplus {
    justify-content: center;
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }

  .menuplus.on {
    z-index: 999;
    width: 100%;
    background-color: rgba(100, 96, 96, 0.5);
    color: white;
    position: fixed;
  }

  .menuplus li {
    padding: 10px;
    text-align: center;
    width: 100%;
    justify-content: space-around;
  }

  .menuplus .lnb {
    padding: 10px;
  }

  .menuup {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .menuup h3 {
    padding: 10px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes move {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .menuup2 {
    position: absolute;
    top: -100px;
    left: 80%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .menuup2 p {
    padding: 20px;
  }

  .lnb {
    display: none;
  }

  .gnb .active {
    display: block;
    transform: translateY(0);
  }

  .input {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    height: 30px;
    background-color: #003366;
  }

  #content {
    width: 100%;
  }

  .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  .slide > a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .panel {
    width: 400%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
  }

  .panel li {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .panel li:nth-child(1) {
    position: relative;
    background-image: url(../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  }

  .panel li:nth-child(2) {
    position: relative;
    background-image: url(../img/hotel-room-1447201_1280.jpg);
  }

  .panel li:nth-child(3) {
    position: relative;
    background-image: url(../img/inner-space-1026452_1280.jpg);
  }
  .panel li:nth-child(4) {
    position: relative;
    background-image: url(../img/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  }

  .panel li h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .panel li h4 {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
  }

  .slide > a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev {
    opacity: 0.8;
    left: 10px;
  }

  .next {
    opacity: 0.8;
    right: 120px;
  }
  #container2 {
    margin: 50px auto;
    width: 90%;
  }
  #container2 h1 {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
  }

  #container2 p {
    font-size: 20px;
    color: #9e9a9a;
    text-align: center;
    margin-bottom: 50px;
  }

  .gallery {
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    display: flex;
  }
  .gallery ul {
    padding-left: 20px;
  }

  .gallery img {
    width: 400px;
    height: 320px;
  }
  .gallery li {
    margin-bottom: 20px;
  }
  .sale {
    background-image: url(../img/4.jpg);
    margin-left: 20px;
    width: 400px;
    height: 665px;
    background-size: cover;
    background-position: center;
    display: block;
  }

  .sale > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100%;
  }

  .sale h2 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normabl;
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
  }

  .more {
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

    width: 80px;
    height: 30px;
    margin-top: 25px;
  }
  .more a {
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
  }

  #container3,
  #container4 {
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 90%;
    display: flex;
    padding: 25px 0;
  }

  #container3 ul,
  #container4 ul {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
  }

  #container3 li,
  #container4 li {
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }

  #container3 h2,
  #container4 h2 {
    font-size: 30px;
  }

  #container3 li img,
  #container4 li img {
    width: 650px;
    height: 500px;
  }

  #container3 .text,
  #container4 .text {
    box-sizing: border-box;
    padding: 50px;
    border: 0.5px solid #b8b6b6;
    width: 650px;
    margin: 25px 0;
  }

  #container3 li:nth-child(2),
  #container4 li:nth-child(1) {
    order: 2;
  }

  #container3 li:nth-child(2),
  .text {
    box-sizing: border-box;
    padding: 50px;
    border: 0.5px solid #b8b6b6;
    width: 650px;
    margin: 25px 0;
  }

  .more {
    color: white;
    padding: 5px;
    text-align: center;
    width: 100px;
    background-color: #003366;
    font-size: 18px;
    display: block;
    color: white;
    padding: 5px 10px;
    margin: 20px auto 0;
    width: fit-content;
    text-align: center;
    cursor: pointer;
  }

  #footer {
    height: 200px;
    background-color: #312f2f;
  }
  .dis {
    padding: 30px;
    display: flex;
  }
  #footer ul li {
    color: white;
    padding-left: 10px;
  }
  .dis2 {
    padding-left: 30px;
  }
  #footer {
    margin-top: 50px;
    height: 200px;
    background-color: #312f2f;
  }
  #footer ul {
    margin-left: 50px;
  }

  #container2,
  .gallery,
  #container3,
  #container4 {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 1s ease, transform 1s ease; /* 1초로 설정 */
  }

  #container2.on,
  .gallery.on,
  #container3.on,
  #container4.on {
    transition: opacity 0.5s ease, transform 1s ease;
    opacity: 1;
    transform: translateY(0px);
  }
}
